[Unit]
Description=Download wallpaper on startup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/get-wallpaper

[Install]
WantedBy=default.target
