theme = "with_transparency"

[editor]
gutters = ["diff", "diagnostics"]
middle-click-paste = false
popup-border = "all"
jump-label-alphabet = "fjdkslaeiwovncmgh"

[editor.search]
wrap-around = false

[editor.indent-guides]
# render = true

[editor.statusline]
left = ["position", "spinner", "file-name", "read-only-indicator", "file-modification-indicator"]
right = ["diagnostics", "register", "file-encoding", "position-percentage", "spacer"]

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.soft-wrap]
enable = true

[editor.smart-tab]
supersede-menu = true

[editor.lsp]
auto-signature-help = false
display-signature-help-docs = false

[keys.normal]
"tab" = "no_op"
"C-c" = "no_op"
"'" = "repeat_last_motion"
"x" = "select_line_below"
"X" = "select_line_above"
"C-;" = "flip_selections"
"C-space" = "hover"

"w" = "move_prev_sub_word_start"
"e" = "move_next_sub_word_start"
"b" = "no_op"
"W" = "move_prev_long_word_start"
"E" = "move_next_long_word_start"
"B" = "no_op"

"i" = [ "collapse_selection", "insert_mode" ]
"a" = [ "move_char_right", "insert_mode" ]

"d" = "delete_selection_noyank"
"c" = "change_selection_noyank"

"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"

"[" = { "space" = "no_op" }
"]" = { "space" = "no_op" }

"C-k" = "select_prev_sibling"
"C-j" = "select_next_sibling"
"C-l" = "shrink_selection"
"C-h" = "expand_selection"

[keys.normal.space]
"space" = "last_picker"
"[" = "add_newline_above"
"]" = "add_newline_below"
"c" = "toggle_comments"
"C" = [ "extend_to_line_bounds", "yank", "toggle_comments", "paste_after" ]
"'" = "no_op"
"k" = "no_op"
"w" = "no_op"
"e" = "file_explorer_in_current_buffer_directory"
"E" = "file_explorer_in_current_directory"

[keys.select]
"C-c" = "no_op"
"'" = "repeat_last_motion"
"X" = "extend_line_above"
"C-;" = "flip_selections"

"w" = "extend_prev_sub_word_start"
"e" = "extend_next_sub_word_start"
"b" = "no_op"
"W" = "extend_prev_long_word_start"
"E" = "extend_next_long_word_start"
"B" = "no_op"

"i" = [ "collapse_selection", "insert_mode" ]
"a" = [ "move_char_right", "insert_mode" ]

"d" = "delete_selection_noyank"
"c" = "change_selection_noyank"

"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"

"[" = { "space" = "no_op" }
"]" = { "space" = "no_op" }

[keys.select.space]
"space" = "last_picker"
"[" = "add_newline_above"
"]" = "add_newline_below"
"c" = "toggle_comments"
"C" = [ "extend_to_line_bounds", "yank", "toggle_comments", "paste_after" ]
"'" = "no_op"
"k" = "no_op"
"w" = "no_op"

[keys.insert]
"C-d" = "no_op"
"C-u" = "no_op"
"C-x" = "no_op"
"C-space" = "completion"

"C-h" = "delete_char_backward"
"C-l" = "delete_char_forward"
"C-k" = "kill_to_line_start"
"C-j" = "kill_to_line_end"
"C-w" = "delete_word_backward"
"C-e" = "delete_word_forward"

"A-h" = "move_char_left"
"A-l" = "move_char_right"
"A-k" = "goto_first_nonwhitespace"
"A-j" = "goto_line_end_newline"
"A-w" = ["move_prev_word_start", "collapse_selection"]
"A-e" = ["move_next_word_start", "collapse_selection", "move_char_right"]
