[[language]]
name = "scala"
auto-format = true

[language-server.metals]
args = ["-Dmetals.client=helix"]

[[language]]
name = "haskell"
auto-format = true


[[language]]
name = "bash"
auto-format = true


[[language]]
name = "python"
language-servers = ["ruff", "pyright"]
auto-format = true


[[language]]
name = "typescript"
formatter = { command = "pnpm", args = ["prettier", "--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = "pnpm", args = ["prettier", "--parser", "typescript"] }
auto-format = true


[[language]]
name = "astro"
auto-format = true

[language-server.astro-ls]
config = {typescript = {tsdk = "/usr/lib/node_modules/typescript/lib"}, environment = "node"}


[[language]]
name = "yaml"
formatter = { command = "prettier", args = ["--parser", "yaml"] }
auto-format = true


[language-server.jdtls]
command = "jdtls"
# args = ["--jvm-arg=-javaagent:~/.gradle/caches/modules-2/files-2.1/org.projectlombok/lombok/1.18.36/5a30490a6e14977d97d9c73c924c1f1b5311ea95/lombok-1.18.36.jar"]


[language-server.rust-analyzer.config.check]
command = "clippy"


[[language]]
name = "markdown"
language-servers = ["harper-ls"]

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]
